// .popup-member {
//     .content {
//         .form-item {
//             .icon-show-password {
//                 cursor: pointer;
//                 position: absolute;
//                 top: 3px;
//                 right: 14px;
//             }
//         }
//     }
// }
.popup-form {
    .popup-content {
        background-color: #F6F8FC;
        padding: 24px !important; //cần xem lại
    }
    .el-dialog__footer {
        display: none;
    }
}

.el-dialog__footer {
    display: block;
}