.kyc-content {
  .el-upload-dragger {
    width: 556px !important;
    height: 400px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
